---
import Font from "astro/components/Font.astro";
import SEO from "@shared/seo/seo.astro";
import "@shared/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <Font cssVariable="--font-proto-mono" preload />
    <SEO {...Astro.props} />
  </head>
  <body>
    <slot />
  </body>
</html>
